<div *ngIf="toggle === 1" class="">
    <app-todohead (addTodo)="addlist($event) "></app-todohead>
    <div (click)="exportCSV()" class="flex justify-end pr-5 mb-2">
        <button class="bg-black text-white rounded p-2 max-sm:p-1">Export To CSV file</button>
    </div>
    <div class="flex justify-center">
        <div class="w-[30%] max-lg:w-[45%] flex justify-evenly max-sm:w-[90%]">
            Sort By :
            <button (click)="sortDate()" class="bg-red-400 max-sm:p-1 p-2 rounded text-white">Due-Date</button>
            <button  (click)="sortPriority()" class="bg-red-400 max-sm:p-1 p-2 rounded text-white">Priority</button>
            <button (click)="sortStatus()" class="bg-red-400 max-sm:p-1 p-2 rounded text-white">Status</button>
        </div>
    </div>
    <ul class="m-5 bg-slate-300 rounded" *ngFor="let todo of todos">
        <app-showtodo [todo]="todo" (todoDelete)="deleteTodo($event)" (todoEdit)="editTodo($event)" (historyLog)="showHistory($event)"></app-showtodo>
    </ul>

</div>
<div *ngIf="toggle === 0" class="">
    <app-edit-todo [todo]="todos[editIndex]" (editTodo)="editList($event) "></app-edit-todo>
</div>
<div *ngIf="toggle === 2" class="p-5">
    <div class=" font-bold">History Log : </div>
    <ul *ngFor="let data of dataHistory">
        
        <li  class="flex max-sm:flex-col mb-2 p-2">
            <div class=" w-[30%] ">Action : 
                <span>{{data.action}}</span>
            </div>
            <div>Time : 
                <span>{{data.timestamp}}</span>
            </div>
        </li>
    </ul>
    <button (click)="moveBack()" class="bg-black text-white w-[20%]" >Back</button>
</div>
