<div class="flex">
   
    <form (ngSubmit)="submitForm()" class=" w-[100%] flex flex-col justify-evenly  p-1 h-[30vh]">
       
        <div class="text-center">
            <input 
            [(ngModel)]="todo.title"
            type="text" name="title" class=" w-[90%] border p-2"
            
            placeholder="Title"
            />
        </div>
        <div class="text-center">
            <input type="text"  name="description" class=" border w-[90%] h-20 p-2"
            [(ngModel)]="todo.description"
            placeholder="Description"
            />
        </div>
        <div class="flex max-sm:flex-col max-sm:text-center justify-evenly ">
            <div>
                Due Date:
                <input 
                 name="date" type="date" [(ngModel)]="todo.date" />
            </div>
            <div>
                Priority:
                <input type="radio"  name="priority" [(ngModel)]="todo.priority" value="Low">Low
                <input type="radio"  name="priority" [(ngModel)]="todo.priority"  value="Medium">Medium
                <input type="radio"  name="priority" [(ngModel)]="todo.priority"  value="High">High
            </div>
            <div>
                Status:
                <input type="radio"  name="status" [(ngModel)]="todo.status" value="to-do">to-do
                <input type="radio"  name="status" [(ngModel)]="todo.status" value="in-progress">in-progress
                <input type="radio"  name="status" [(ngModel)]="todo.status" value="completed">completed
            </div>
        </div>

        <div class=" text-center">
            <button type="submit"
            class="bg-[#0077B5] text-white font-bold text-xl w-[90%] p-2"
            >Edit Todo</button>
        </div>
    </form>
</div>